<section>
  <div class="w-container main">
    <h1 class="page-header">Ãrea do admin</h1>
    <div class="w-row">
      <div class="w-col w-col-3 w-clearfix">
        <%= render 'shared/user_card' %>
      </div>

      <div class="w-col w-col-9">
        <div>
          <%= render 'users_list' %>
        </div>
      </div>
    </div>
  </div>
</section>
