<section>
  <div class="w-container main">
    <h1 class="page-header">Área do admin</h1>
    <div class="w-row">
      <div class="w-col w-col-3 w-clearfix">
        <%= render 'shared/user_card' %>
        <ul class="w-list-unstyled">
          <li class="side-menu-link users">
            <a href="#" class="w-inline-block menu-list">
              <div class="side-menu-text"><strong data-new-link="true">usuários</strong>
              </div>
            </a>
          </li>
          <li class="side-menu-link">
            <a href="#" class="w-inline-block menu-list">
              <div class="side-menu-text"><strong data-new-link="true">Vídeos</strong>
              </div>
            </a>
          </li>
          <li class="side-menu-link news">
            <a href="#" class="w-inline-block menu-list">
              <div class="side-menu-text"><strong data-new-link="true">notícias</strong>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="w-col w-col-9">
        <div>
          <%= render 'users_list' %>
        </div>
      </div>
    </div>
  </div>
</section>
