<section>
  <div class="w-container main">
    <h1 class="page-header">Ãrea do admin</h1>
    <div class="w-row">
      <div class="w-col w-col-3 w-clearfix">
        <%= render 'shared/user_card' %>
      </div>

      <div class="w-col w-col-9">
        <div>
          <% @users.each_slice(3) do |users| %>
            <div class="w-row">
              <% users.each do |user| %>
                <div class="w-col w-col-4 w-col-small-4">
                  <div class="user-li">
                    <div class="avatar-circle sm"></div>
                    <b><%= link_to user.name, profile_path(user.id), class: 'user-name' %></b>
                    <div><%= user.email %></div>
                    <div class="center">
                      <%= render 'users/shared/actions', user: user %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
