<div class="videos-list">
  <% @videos.each_slice(3) do |videos| %>
    <div class="w-row">
      <% videos.each do |video| %>
        <div class="w-col w-col-4 w-col-small-4">
          <div class="user-li">
            <div class="video-square" style="background-image: url('http://img.youtube.com/vi/<%= video.parse_url %>/0.jpg')"></div>
            <b><%= link_to video.send("title_#{current_locale}"), edit_video_path(video), class: 'user-name' %></b>
            <div class="center">
              <%= link_to t('default.delete'), video_path(video),
                  method: :delete, class: 'w-button btn-danger btn-sm',
                  style: 'width: 100px;',
                  data: { disable_with: t('default.delete') }%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
