<b><%= link_to video.send("title_#{current_locale}"), video_path(video), class: 'post-title' %></b>
<div class="post-date"><%= link_to video.user.name, profile_path(video.user) %>- <%= video.created_at.strftime("%d/%m/%Y - %H:%M") %></div>
