<div class="alert alert-success"><strong data-new-link="true">Well done!</strong>&nbsp;You successfully read this important alert message.</div>
<div class="alert alert-info"><strong data-new-link="true">Well done!</strong>&nbsp;You successfully read this important alert message.</div>
<div class="alert alert-warning"><strong data-new-link="true">Well done!</strong>&nbsp;You successfully read this important alert message.</div>
<div class="alert alert-fail"><strong data-new-link="true">Well done!</strong>&nbsp;You successfully read this important alert message.</div>
