<div class="pull-right">
  <%= link_to "", set_language_portuguese_path, class: "w-inline-block language-flag br #{ 'active' if I18n.locale == 'pt-BR'.to_sym }" %>
  <%= link_to "", set_language_spanish_path, class: "w-inline-block language-flag es #{ 'active' if I18n.locale == :es }" %>
</div>
