<%= form_tag url, method: :post do %>
<%= text_field_tag :term, params[:term], placeholder: t('helper.placeholder.tags'), class: "w-input" %>

  <div class="pull-right">
    <%= submit_tag t('default.search'), class: 'w-button' %>
  </div>
<% end %>
