<%= form_tag url, method: :get do %>
<%= text_field_tag :term, params[:term], placeholder: placeholder, class: "w-input" %>

  <div class="pull-right">
    <%= submit_tag t('default.search'), class: 'w-button btn-success' %>
  </div>
<% end %>
