<div class="user-counters">
  <ul class="w-list-unstyled count-ul">
    <li class="count-list">
      <h3 class="num-counter"><%= @user.friends.count %></h3>
      <div>Amigos</div>
    </li>
    <li class="count-list">
      <h3 class="num-counter"><%= @user.videos.count %></h3>
      <div>Vídeos</div>
    </li>
    <li class="count-list">
      <h3 class="num-counter"><%= @user.posts.count %></h3>
      <div>Posts</div>
    </li>
  </ul>
</div>
