<section>
  <div class="w-container main">
    <h1 class="page-header">Seja bem vindo <%= current_user.name %></h1>
    <div class="w-row">
      <div class="w-col w-col-3 w-clearfix">
        <%= render 'shared/user_card', user: current_user %>
      </div>

      <div class="w-col w-col-9">
        <form>
          <input id="name-3" type="text" placeholder="Digite seu e-mail" name="name-3" data-name="Name 3" class="w-input input-rounded">
          <div class="pull-right">
            <input type="submit" value="Buscar" data-wait="Please wait..." class="w-button">
          </div>
        </form>

        <% @posts.each do |post| %>
          <%= render 'posts/post', post: post %>
        <% end %>
      </div>
    </div>
  </div>
</section>
