<section>
  <div class="w-container main">
    <h1 class="page-header">Seja bem vindo <%= current_user.name %></h1>
    <div class="w-row">
      <div class="w-col w-col-3 w-clearfix">
        <div class="profile-side">
          <div class="avatar-box">
            <div class="avatar-circle"></div>
          </div>
        </div><a href="#"><strong><%= current_user.name %></strong></a>
        <%= is_admin current_user %>
        <div>Desde: <%= l current_user.created_at, format: :short %></div>
        <!-- <ul class="w-list-unstyled count-ul">
          <li class="count-list">
            <h3 class="num-counter">8</h3>
            <div>Amigos</div>
          </li>
          <li class="count-list">
            <h3 class="num-counter">8</h3>
            <div>Vídeos</div>
          </li>
          <li class="count-list">
            <h3 class="num-counter">8</h3>
            <div>Vídeos</div>
          </li>
        </ul> -->
        <div class="center">
          <a href="#" style="margin-top: 10px;" class="w-button add-friend">Adicionar como amigo</a>
          <!-- <a href="#" class="w-button ban-user">Banir usuário</a> -->
        </div>
        <!-- <a href="#" class="unfriend-link">Desfazer amizade</a> -->
      </div>

      <div class="w-col w-col-9">
        <!-- <a href="#" class="post-title"><strong data-new-link="true">Título do link</strong></a>
        <div class="post-date">De: Diego Oliveira - 10/12/2015 - 08:22</div>
        <div class="w-form">
          <form>
            <h1 class="post-title">Título do vídeo</h1>
            <div class="w-richtext">
              <h2>What’s a Rich Text element?</h2>
              <p>The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place instead of having to add and format them individually. Just double-click and easily create content.</p>
              <h4>Static and dynamic content editing</h4>
              <p>A rich text element can be used with static or dynamic content. For static content, just drop it into any page and begin editing. For dynamic content, add a rich text field to any collection and then connect a rich text element to that field in the settings panel. Voila!</p>
              <h4>How to customize formatting for each rich text</h4>
              <p>Headings, paragraphs, blockquotes, figures, images, and figure captions can all be styled after a class is added to the rich text element using the "When inside of" nested selector system.</p>
            </div>
            <div style="padding-top: 56.17021276595745%;" class="w-embed w-video">
              <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F_O1k7sB7Yxo%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D_O1k7sB7Yxo&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F_O1k7sB7Yxo%2Fhqdefault.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <h4>Comentários</h4>
            <textarea id="field" placeholder="Example Text" name="field" class="w-input"></textarea>
            <div class="pull-right">
              <input type="submit" value="Enviar" data-wait="Please wait..." class="w-button btn-default">
            </div>
          </form>
        </div>
        <div class="comment-box">
          <div class="w-row">
            <div class="w-col w-col-2">
              <div>
                <div class="avatar-circle sm"></div>
              </div>
            </div>
            <div class="w-col w-col-10">
              <div><strong data-new-link="true">Diego Oliveira</strong>
              </div>
              <div>Lorem Ipsum&nbsp;é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</div>
            </div>
          </div>
          <div class="moderation-box"><a href="#">Excluir esse comentário</a>
          </div>
        </div>
        <div class="comment-box">
          <div class="w-row">
            <div class="w-col w-col-2">
              <div>
                <div class="avatar-circle sm"></div>
              </div>
            </div>
            <div class="w-col w-col-10">
              <div><strong data-new-link="true">Diego Oliveira</strong>
              </div>
              <div>Lorem Ipsum&nbsp;é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</div>
            </div>
          </div>
          <div class="moderation-box"><a href="#">Excluir esse comentário</a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
