<section>
  <div class="w-container main">
    <h1 class="page-header">Seja bem vindo <%= current_user.name %></h1>
    <div class="w-row">
      <div class="w-col w-col-3 w-clearfix">
        <%= render 'shared/user_card' %>
      </div>

      <div class="w-col w-col-9">
        <% @posts.each do |post| %>
          <%= render 'posts/post', post: post %>
      <% end %>
      </div>
    </div>
  </div>
</section>
