<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= render 'posts/post', post: post %>
  <% end %>
<% else %>
  <div class="alert alert-info"><strong>Notícias: </strong>Não há notícias no momento.</div>
<% end %>
