<section>
<div class="w-container main">
    <div class="w-row">
      <div class="w-col w-col-3 w-clearfix">
        <%= render 'shared/user_card' %>
      </div>

      <div class="w-col w-col-9">
        <% if @posts.any? %>
          <% @posts.each do |post| %>
            <%= render 'posts/post', post: post %>
          <% end %>
        <% else %>
          <div class="alert alert-info"><strong>Notícias: </strong>Não há notícias no momento.</div>
        <% end %>
      </div>
    </div>
  </div>
</section>
