<h1 class="highlight-title"><%= t('title.videos') %></h1>
<%= render 'shared/search_form', url: all_videos_path %>

<% @videos.each do |video| %>
  <%= render 'videos/video', video: video %>
<% end %>
