<div class="pull-right" style="margin-bottom: 20px;">
  <%= link_to "Nova notícia", new_post_path, class: 'w-button' %>
</div>
<% if @posts.any? %>
  <%= render 'posts_list' %>
<% else %>
  <div class="alert alert-info"><strong>Notícia: </strong>Não há notícias no momento.</div>
<% end %>
