@import "base";
@import "normalize";
@import "custom";
@import "tagsinput";

hr{
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #EAEAEA;
}

.pull-right{
  text-align: right;
}

.no-bg{
  background-color: transparent !important;
}

.language-flag:hover {
  opacity: 1;
}
