@import "base";
@import "normalize";
@import "custom";
@import "tagsinput";

hr{
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #EAEAEA;
}

.pull-right{
  text-align: right;
}

.no-bg{
  background-color: transparent !important;
}

.language-flag:hover {
  opacity: 1;
}

.relationship-sit{
  color: #9E9E9E;
  top: 12px;
  position: relative;
  font-size: 11px;
}

nav.pagination{
  padding: 15px;
  text-align: center;
  span{
    padding: 10px;
    color: #84922d;
    font-weight: bold;
  }
}
