body {
  background-color: #fafafa;
  font-family: 'Bree Serif', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

a {
  color: #563d7c;
  text-decoration: none;
}

.nav-list {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
}

.nav-ul {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
  text-align: right;
}

.input-rounded {
  border-radius: 5px;
}

.pull-right {
  text-align: right;
}

.alert {
  margin-bottom: 1.5rem;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert.alert-success {
  border-color: #d0e9c6;
  background-color: #dff0d8;
  color: #3c763d;
}

.alert.alert-info {
  border-color: #bcdff1;
  background-color: #d9edf7;
  color: #31708f;
}

.alert.alert-warning {
  border-color: #faf2cc;
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.alert.alert-fail {
  border-color: #ebcccc;
  background-color: #f2dede;
  color: #a94442;
}

.nav-purple {
  background-color: #563d7c;
}

.main {
  padding: 20px;
  background-color: white;
  box-shadow: #c2c2c2 0px 0px 6px 0px;
}

.nav-link {
  color: #cdbfe3;
}

.nav-link:hover {
  color: white;
}

.page-header {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
  color: #84922d;
  text-transform: uppercase;
}

.avatar-box {
  height: 150px;
  margin-bottom: 10px;
  background-image: image-url('images.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar-circle {
  position: absolute;
  left: 0px;
  top: 15px;
  right: 0px;
  bottom: 0px;
  width: 120px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #e4e4e4;
  background-image: image-url('12247144_985681451493689_3460159843447436262_n.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.avatar-circle.sm {
  position: static;
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-right: 0px;
  margin-left: 0px;
}

.avatar-circle.sm:hover {
  opacity: 0.63;
}

.num-counter {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0px;
}

.count-list {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.count-ul {
  text-align: center;
}

.add-friend {
  margin-bottom: 10px;
  text-align: center;
}

.unfriend-link {
  display: block;
  color: #5e5e5e;
  font-size: 13px;
  text-align: right;
}

.ban-user {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #c9302c;
  color: white;
  font-size: 12px;
}

.center {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.post-title {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #84922d;
  font-size: 38px;
}

.comment-box {
  margin-bottom: 1rem;
  padding: 10px;
  background-color: #f1f1f1;
}

.moderation-box {
  font-size: 13px;
  text-align: right;
}

.post-date {
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.users-ul {
  text-align: center;
}

.user-li {
  display: block;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  text-align: center;
}

.user-li.friends-list {
  height: 120px;
  margin-bottom: 10px;
}

.user-name {
  display: block;
  color: #84922d;
}

.user-name.frienshiplist {
  position: absolute;
  left: 10%;
  top: 90px;
  right: 10%;
}

.btn-danger {
  border: 1px solid #ac2925;
  background-color: #c9302c;
}

.btn-danger.btn-sm {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 13px;
}

.btn-success {
  border: 1px solid #4cae4c;
  background-color: #5cb85c;
}

.btn-success.btn-sm {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 13px;
}

.admin-cert {
  position: relative;
  left: 5px;
  top: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: image-url('sport17.png');
  background-position: 50% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
}

.menu-list {
  color: #84922d;
}

.menu-list.active {
  color: #333;
}

.side-menu-link {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 20px 5px 40px;
  background-color: #dbdbdb;
  background-image: image-url('news.svg');
  background-position: 10px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.side-menu-link:hover {
  background-color: #f1f1f1;
}

.side-menu-link.news {
  background-image: image-url('ytb.svg');
  background-position: 10px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.side-menu-link.users {
  background-image: image-url('user.svg');
  background-size: 20px;
}

.side-menu-text {
  display: block;
  text-transform: uppercase;
}

.rating-box {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  background-color: whitesmoke;
}

.tags {
  margin-top: 20px;
}

.tag-name {
  display: inline-block;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px 8px;
  background-color: #563d7c;
  color: white;
}

.change-avatar {
  position: absolute;
  left: 60px;
  top: 130px;
  display: inline-block;
  color: white;
  font-size: 12px;
  text-shadow: black 2px 2px 6px;
}

.became-admin {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #dbdbdb;
  color: #333;
  font-size: 12px;
}

.highlight-title {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 4px solid #cdbfe3;
  border-bottom: 4px solid #cdbfe3;
  color: #563d7c;
  text-align: center;
  text-transform: uppercase;
}

.friendship-option {
  position: relative;
  top: 30px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  box-shadow: #5a5a5a 0px 0px 6px 0px;
}

.friendship-option.left {
  left: -30px;
  background-image: image-url('forbidden15.png');
  background-position: 50% 50%;
  background-size: 13px;
  background-repeat: no-repeat;
}

.friendship-option.left:hover {
  background-color: #f8f8f8;
  color: #333;
}

.friendship-option.right {
  left: 30px;
  top: 30px;
  background-image: image-url('checked21.png');
  background-position: 50% 50%;
  background-size: 14px;
  background-repeat: no-repeat;
}

.friendship-option.right:hover {
  background-color: #f8f8f8;
}

.language-flag {
  display: inline-block;
  width: 40px;
  height: 30px;
  opacity: 0.3;
}

.language-flag.br {
  background-image: image-url('Brazil.png');
  background-position: 50% 50%;
  background-size: 35px;
  background-repeat: no-repeat;
}

.language-flag.es {
  background-image: image-url('Spain.png');
  background-position: 50% 50%;
  background-size: 35px;
  background-repeat: no-repeat;
}

.language-flag.active {
  opacity: 1;
}

.language-flag.active.es {
  background-image: image-url('Spain.png');
  background-position: 50% 50%;
  background-size: 35px;
  background-repeat: no-repeat;
}

.video-square {
  width: 150px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  background-image: image-url('download.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .btn-danger.btn-sm {
    display: inline-block;
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {}

@media (max-width: 479px) {}
